body {
  margin: 0; 
  background-image: linear-gradient(to right top, #65dfc9, #6cdbeb);
  
  
  background-attachment: fixed;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding-top: 50px;
}

.row {
  height: 80vh;
}


a {
  text-decoration: none;
  color: #354548;

}

a:hover {
  text-decoration: none;
  color: #000;
}


.app__main-content {
  position: relative;  
  padding: 25px 15px;
  z-index: 2;
  height: 100%;
  box-shadow: 20px 20px 50px (rgba(0, 0, 0, 0.5));
  border-radius: 15px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  background-clip: border-box;
}

.circle1,
.circle2,
.circle3,
.circle4,
.circle5,
.circle6,
.circle7,
.circle8 {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1.5),
    rgba(255, 255, 255, 0.3)
  );
  position: absolute;
  border-radius: 50%;
}

.circle1 {
  top: 20%;
  right: 1%;
  height: 5rem;
  width: 5rem;
}
.circle2 {
  top: 0%;
  right: 10%;
  height: 7rem;
  width: 7rem;
}
.circle3 {
  bottom: 90%;
  left: 50%;
  height: 10rem;
  width: 10rem;
}
.circle4 {
  top: 0%;
  left: 0%;
  height: 15rem;
  width: 15rem;
}
.circle5 {
  bottom: 15%;
  right: 10%;
  height: 8rem;
  width: 8rem;
}
.circle6 {
  top: 0%;
  left: 2%;
  height: 4rem;
  width: 4rem;
}
.circle7 {
  bottom: 15%;
  left: 1%;
  height: 10rem;
  width: 10rem;
}
.circle8 {
  top: 30%;
  right: 3%;
  height: 5rem;
  width: 5rem;
}

/* sidebar css */

.sidebar {
  position: relative;  
  padding: 25px 15px;
  z-index: 1;
  height: 100%;
  box-shadow: 20px 20px 50px (rgba(0, 0, 0, 0.5));
  border-radius: 15px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  background-clip: border-box;
}

.sidebar__avatar {
  height: 70px;
  width: 70px;
  border-radius: 20px;
}

.sidebar__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.sidebar__name {
  font-family: 'Kaushan Script';
  color: #000;
  font-size: 0.8rem;
}

.sidebar__item {
  height: 25px;
  color: #000;
  font-size: 0.8rem;
  border-radius: 10px;
}

.sidebar__title {
  background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 80%);  
  border-radius: 30px;
}



.sidebar__email {
  background-image: linear-gradient(to right bottom, #FE6B8B, #FF8E53);
  border-radius: 30px;
  color: #fff;
  margin: 15px 25px 0px;
  cursor: pointer;
  transition: all 3s linear;
}

.sidebar__email:hover {
  transform: scale(1);
}

.sidebar__github:hover,
.sidebar__resume:hover {
  background-image: linear-gradient(to right bottom, #FE6B8B, #FF8E53);
}

@media(max-width:991px) {
  .app__main-content {
      margin: 30px 0;
  }
}



/* navbar */

.navbar__items {
  display: flex;
}

.navbar__active {
  font-size: 2rem;
  font-weight: 700;
  color: #354358;
  border-bottom: 4px solid #00F260;
}

.navbar__item {
  margin-right: 20px;
  text-decoration: none;
  color: #354358;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar__item:hover {
  background: -webkit-linear-gradient(#00F260, #0575E6);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

/* about */

/* .about {
  padding: 20px;
  margin: -35px;
} */

.about__intro {
  font-size: 0.7rem;
  /* padding: 20px;
  margin: 10px 0; */
}

/* .about__container {
  background-color: #dbdddf;
  padding: 30px 20px;
} */

.about__heading {
  font-size: 15px;
  font-weight: 700;
  color: #354358;
  margin-left: 10px;
}

/* skill-card */
.skill-card {
  background-color: #fff;
  padding: 3px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
}

.skill-card__icon {
  width: 30px;
  height: 30px;
}

.skill-card-body {
  margin-left: 5px;

}

.skill_card__content {
  font-size: 0.6rem;
  color: #6e7e91;
}

/* resume */

.resume {
  padding-top: 20px;
}

.resume-card__heading,
.reume-language__heading {
  margin-left: 10px;
  font-size: 1.8rem;
  font-weight: 700;
  color: #354538;
}

.resume-card__body {
  margin-top: 10px;
}

.resume-card__title {
  font-weight: 700;
}

.resume-card__name {
  font-size: 16px;
}

.resume-card__details {
  font-size: 0.9rem;
  padding-top: 5px;
}

/* bar */
.bar {
  width: 90%;
  background-color: #f1f2f3;
  border-radius: 20px;
  margin-bottom: 12px;

}

.bar__icon {
  width: 15px;
  height: 15px;
}

.bar__wrapper {
  background-image: linear-gradient(90deg, #00F260, #0575E6);
  border-radius: 20px;
  padding: 4px 14px;
  color: #fff;
  font-size: 0.9rem
}